<!DOCTYPE html>

<head>
    <title>
        Weather App
    </title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
</head>

<body>
    <div class="wrapper">
        <div class="container" id="app">
            <div class="search">
                <input type="text" placeholder="Mau cek cuaca kota apa?" v-model="searchCity">
                <button class="ripple" @click="searchCityBtn"><ion-icon name="search"></ion-icon></button>
            </div>
            <div v-if="load_anim" class="loading">
                <img src="img/loading.svg">
            </div>
            <!--<div v-if="not_found" class="not-found">
                Tidak ditemukan
            </div> -->
            <h2>{{ info.name }}, {{ getCountry(info_sys.country.toLowerCase()) }} <img :src="'https://flagcdn.com/'+info_sys.country.toLowerCase()+'.svg'" height="24px"></h2>
            <div class="clouds_info">
                <h3>Saat ini</h3>
                <div class="clouds">
                    <div v-for="i in info_weather.slice(0, 1)">
                        <img src="img/panas.png" v-if="i.main == 'Clear'">
                        <img src="img/panas_berawan.png" v-if="i.main == 'Clouds'">
                        <img src="img/hujan_badai.png" v-if="i.main == 'Thunderstorm'">
                        <img src="img/hujan_ringan.png" v-if="i.main == 'Drizzle'">
                        <img src="img/hujan.png" v-if="i.main == 'Rain'">
                        <img src="img/salju.png" v-if="i.main == 'Snow'">
                        <img src="img/haze.png" v-if="i.main == 'Haze'">
                        <img src="img/haze.png" v-if="i.main == 'Fog'">
                        <img src="img/haze.png" v-if="i.main == 'Mist'">
                        <img src="img/haze.png" v-if="i.main == 'Smoke'">
                        <img src="img/haze.png" v-if="i.main == 'Dust'">
                        <img src="img/haze.png" v-if="i.main == 'Ash'">
                        <img src="img/haze.png" v-if="i.main == 'Squall'">
                        <img src="img/haze.png" v-if="i.main == 'Tornado'">
                    </div>
                </div>
                <div class="desc" v-for="i in info_weather">
                    {{ capitalize(i.description) }}
                </div>
                <div class="temp">
                    {{ toInt(toCelcius(info_main.temp)) }}&deg; C
                </div>
            </div>
            <div class="forecast">
                Prediksi Cuaca Rata-Rata Per Hari
                <ul>
                    <li v-for="(f, index) in forecast">
                        <strong v-if="index == 0">Hari ini</strong>
                        <strong v-if="index == 1">Besok</strong>
                        <strong v-if="index > 1">{{ getDays(index) }}</strong>
                        <div class=" img " v-for="w in f.weather.slice(0, 1) ">
                            <img src="img/panas.png " v-if="w.main=='Clear' ">
                            <img src="img/panas_berawan.png " v-if="w.main=='Clouds' ">
                            <img src="img/hujan_badai.png " v-if="w.main=='Thunderstorm' ">
                            <img src="img/hujan_ringan.png " v-if="w.main=='Drizzle' ">
                            <img src="img/hujan.png " v-if="w.main=='Rain' ">
                            <img src="img/salju.png " v-if="w.main=='Snow' ">
                            <img src="img/haze.png " v-if="w.main=='Haze' ">
                            <img src="img/haze.png " v-if="w.main=='Fog' ">
                            <img src="img/haze.png " v-if="w.main=='Mist' ">
                            <img src="img/haze.png " v-if="w.main=='Smoke' ">
                            <img src="img/haze.png " v-if="w.main=='Dust' ">
                            <img src="img/haze.png " v-if="w.main=='Ash' ">
                            <img src="img/haze.png " v-if="w.main=='Squall' ">
                            <img src="img/haze.png " v-if="w.main=='Tornado' ">
                        </div>
                        <p>{{ capitalize(f.weather[0].description) }}</p>
                        <p class="temp ">{{ toInt(toCelcius(f.main.temp)) }}&deg; C</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer " id="footer ">
            Powered By @wldan.rzky_ | www.wildanrizky.tech
        </div>
    </div>
    <script src="js/ajax.js "></script>
    <script src="js/get_weather.js "></script>
</body>